@using Application.Models
@using System.Collections.Generic
@model IEnumerable<VehicleDTO>

<div class="row">
    <div class="col-md-3"><strong>Create Time</strong></div>
    <div class="col-md-3"><strong>Make</strong></div>
    <div class="col-md-3"><strong>Details</strong></div>
</div>
@foreach(var vehicle in Model)
{
    if(vehicle is CarDTO)
    {
        Html.RenderPartial("DisplayTemplates/Car", vehicle);
    }
}