@using Application.Models
@using System.Collections.Generic
@model List<VehicleDTO>


<div>
    <h1>Mini Carsales System</h1>
    <div>
        
    </div>
    @{Html.RenderPartial("DisplayTemplates/Vehicles", Model);}
</div>